---
permalink: /curriculum/

title: Meu Currículo
description: Um resumo do que eu consigo fazer com um pouco de código.

about_me: >
  <p>
    Depois de perceber que eu provavelmente não iria me tornar um piloto de Formula 1, resolvi procurar por alguma coisa que pudesse me animar um pouco. Tecnologia sempre me fascinou, então era um bom ponto de partida. Depois de experimentar com algumas coisas na área decidi ficar com desenvolvimento front end.
  </p>

  <p>
    Hoje faço parte da equipe de desenvolvedores front end na Index Digital porque gosto de resolver quebra-cabeças e de criar soluções que ajudam outras pessoas a resolverem seus próprios problemas. E se eu puder contribuir para criar workflows mais rápidos e limpos, eu também ajudo.
  </p>

  <p>
    Me viro bem com HTML5, CSS/Sass, JavaScript, otimização de performance, design responsivo, Git e documentações confusas.
  </p>

  <p>
    Me interesso bastante por React, criação de APIs (com Node.js em especial), Machine Learning, Sistemas Embarcados e carros de corrida.
  </p>


skills:
  - name: Desenvolvimento Front End
    quote: >
      Me viro bem com HTML5, CSS3 e consigo criar algumas funcionalidades com JavaScript. Sou fissurado em otimização dos assets no Front e em manter tudo no lugar, independente do tamanho da tela.
    items:
      - name: HTML5
      - name: CSS3/Sass
      - name: JavaScript (ES6)
      - name: Criação e teste de layouts responsivos
      - name: Otimização de assets
      - name: Noções de acessibilidade


  - name: Desenvolvimento em geral
    quote: >
      Me considero zeloso com o código que escrevo e gosto de criar peças reutilizáveis. Código bem feito precisa funcionar E ser fácil de manter.
    items:
      - name: Reutilização de código
      - name: Otimização de workflow
      - name: Noções de Programação Funcional


  - name: Ferramentas de Desenvolvimento
    quote: >
      Normalmente uso ou experimento com isso no dia a dia.
    items:
      - name: Gulp
      - name: Git
      - name: Webpack
      - name: Terminal UNIX


  - name: Comunicação
    quote: >
      Não sou muito eloquente mas sei me comunicar. Procuro entender os requisitos do projeto para evitar retrabalho. Consigo manter a calma em momentos de estresse e resolver problemas com a equipe. Consigo reconhecer meus erros e gosto de saber onde posso melhorar. Sem clichés.


  - name: Interesses
    quote: >
      Penso em fazer isso num futuro próximo.
    items:
      - name: React
      - name: API
      - name: Projetos Open Source


  - name: Idiomas
    quote: >
      Consigo ler e ouvir em inglês sem dificuldades, mas posso melhorar na conversação. Alemão bem básico.
    items:
      - name: Português - Nativo
      - name: Inglês - Avançado
      - name: Alemão - Básico


courses:
  - name: MIT 6.00.1x - Introdução à Ciência da Computação com Python
    url: https://www.edx.org/course/introduction-computer-science-mitx-6-00-1x-11
    institution: MIT
    from: 2017
    to: Presente
    description: >
      Curso de introdução à ciência da computação da Harvard University. Assuntos como abstrações, algorítmos, estruturas de dados, engenharia de software e desenvolvimento web são abordados.

  - name: Front End Web Development
    url: https://teamtreehouse.com/tracks/front-end-web-development
    institution: Treehouse
    from: 2016
    to: 2017
    description: >
      Estudos sobre sobre desenvolvimento web de nível básico e intermediário, incluindo HTML5, CSS3, JavaScript e o básico de PHP e WordPress.

  - name: The Webdeveloper Bootcamp (Seção front end)
    url: https://www.udemy.com/the-web-developer-bootcamp
    institution: Udemy
    from: 2016
    to: 2017
    description: >
      Similar ao curso da Treehouse.

  - name: Design Gráfico
    url: http://www.opa.pro.br/curso/design-grafico/
    institution: Opa! Escola de Design
    from: 2011
    to: 2011
    description: >
      História do design, tipografia, linguagem visual, cores, Photoshop e Illustrator.

experiences:
  - role: Desenvolvedor Front End
    company: Index Digital
    from: Junho, 2017
    to: Presente
    activities:
      - Criação de páginas a partir de layouts (como quase todos os front ends);
      - Criação e manutenção de Pattern Library interna para agilizar o desenvolvimento inicial;
      - Otimização do fluxo de desenvolvimento para evitar gargalos e duplicação de código;
      - Refatoração de código para uma manutenção mais rápida e menos penosa.


  - role: Desenvolvimento e Manutenção de Site
    company: Hammer Gaming
    from: 2015
    to: 2016
    activities:
      - Otimização de tempo de carregamento e tamanho de assets;
      - Modificação e padronização de estilos CSS;
      - Alterações básicas de tema e templates WooCommerce.

---

  <main class="l-main-content">
    <div class="l-container">
      <h1>{{ page.title }}</h1>

      <!-- About me -->
      <section class="resume-section">
        <h2 class="heading">Sobre mim</h2>
        {{ page.about_me }}
      </section>


      <!-- Skills -->
      <section class="resume-section">
        <h2 class="heading">O que eu sei fazer</h2>

        {% for skill in page.skills %}

          <div class="skill-list">

            <h3 class="heading">{{ skill.name }}</h3>

            {% if skill.quote %}
              <blockquote>{{ skill.quote }}</blockquote>
            {% endif %}

            {% if skill.items %}
              <ul class="list">
              {% for item in skill.items %}
                <li class="item">
                  <span class="skill">{{ item.name }}</span>
                  <span class="score lvl-{{ item.skill_level }}"></span>
                </li>
              {% endfor %}
              </ul>
            {% endif %}

          </div>

        {% endfor %}
      </section>
      <!-- resume-section -->


      <!-- Experience -->
      <section class="resume-section">
        <h2 class="heading">Experiências</h2>

        {% for experience in page.experiences %}

          <div class="job-entry">
            <div class="summary">
              <h3 class="meta-info__title">{{ experience.role }}</h3>
              <div class="meta-info__subtitle">{{ experience.company }}</div>

              <div class="meta-info__date">{{ experience.from }} &ndash; {{ experience.to}}</div>
            </div>

            <ul class="activities">
              {% for activity in experience.activities %}
                <li class="item">{{ activity }}</li>
              {% endfor %}
            </ul>
          </div>

        {% endfor %}

      </section>
      <!-- resume-section -->


      <!-- Education -->
      <section class="resume-section">
        <h2 class="heading">Educação</h2>
        <ul class="education-list">

          {% for course in page.courses %}

          <li class="item">
            <div class="summary">
              <h3 class="meta-info__title">
                <a href="{{ course.url }}">
                  {{ course.name }}
                </a>
              </h3>
              <div class="meta-info__subtitle">{{ course.institution }}</div>
              <div class="meta-info__date">{{ course.from }} &ndash; {{ course.to}}</div>
            </div>
            <p class="meta-info__description">
              {{ course.description }}
            </p>
          </li>

          {% endfor %}

        </ul>
      </section>
      <!-- resume-section -->

    </div>
  </main>
