---
permalink: /curriculum/

title: Meu Currículo
description: Um resumo do que eu consigo fazer com um pouco de código.

about_me: >
  <p>
    Atualmente faço parte da equipe de Desenvolvedores Web na Index Digital. Gosto de pensar em soluções legíveis e elegantes (nessa ordem) para interfaces, entender o funcionamento de sistemas e de contribuir para criar workflows mais rápidos e limpos.
  </p>

  <p>
    Tenho interesse por Machine Learning, APIs RESTful (Node.js em especial) e Sistemas Embarcados.
  </p>

skills:
  - name: Desenvolvimento em geral
    items:
      - name: Noções de Orientação à Objetos
      - name: Noções de Programação Funcional
      - name: Noções de Unit Testing
      - name: Noções de Clean Code

  - name: Linguagens
    items:
      - name: JavaScript/ES6 - Intermediário
      - name: Python - Básico

  - name: Desenvolvimento Web
    items:
      - name: React
      - name: Redux
      - name: JavaScript/ES6
      - name: Sass
      - name: Node
      - name: Git
      - name: Otimização de assets

  - name: Comunicação
    items:
      - name: Não guardo dúvidas sobre os requisitos do projeto;
      - name: Consigo manter a calma em situações estressantes;
      - name: Consigo aceitar quando erro. Gosto de saber como posso ser um profissional melhor.

  - name: Interesses
    quote: >
      Penso em aprender ou fazer isso num futuro próximo:
    items:
      - name: Alemão
      - name: APIs RESTful
      - name: Machine Learning
      - name: Sistemas Embarcados

  - name: Idiomas
    quote: >
      Consigo ouvir e ler em inglês sem dificuldades, mas a conversação e escrita podem melhorar.
    items:
      - name: Português - Nativo
      - name: Inglês - Avançado


courses:
  - name: MIT 6.00.1x - Introduction to Computer Science and Programming Using Python
    url: https://www.edx.org/course/introduction-computer-science-mitx-6-00-1x-11
    certificateUrl: https://courses.edx.org/certificates/08b8d2e3cc5a4054b8db189e6645b69a
    institution: MIT
    from: 2018
    to: 2018
    description: >
      Curso de introdução à ciência da computação do MIT, utilizando Python. Assuntos como abstrações, algorítmos básicos, estruturas de dados e engenharia de software são abordados.


experiences:
  - role: Desenvolvedor Web
    company: Index Digital
    from: Julho, 2017
    to: Presente
    activities:
      - Desenvolvimento Front End;
      - Desenvovlimento e manutenção de Boilerplate e Pattern Library interna;
      - Análise e otimização do fluxo de desenvolvimento.


  - role: Desenvolvedor Web
    company: Hammer Gaming
    from: 2015
    to: 2016
    activities:
      - Otimização de performance;
      - Configuração e otimização de servidor web (nginx).

---

  <main class="l-main-content">
    <div class="l-container">
      <h1>{{ page.title }}</h1>

      <!-- About me -->
      <section class="resume-section">
        <h2 class="heading">Sobre mim</h2>
        {{ page.about_me }}
      </section>


      <!-- Skills -->
      <section class="resume-section">
        <h2 class="heading">O que eu sei fazer</h2>

        {% for skill in page.skills %}

          <div class="skill-list">

            <h3 class="heading">{{ skill.name }}</h3>

            {% if skill.quote %}
              <blockquote>{{ skill.quote }}</blockquote>
            {% endif %}

            {% if skill.items %}
              <ul class="list">
              {% for item in skill.items %}
                <li class="item">
                  <span class="skill">{{ item.name }}</span>
                  <span class="score lvl-{{ item.skill_level }}"></span>
                </li>
              {% endfor %}
              </ul>
            {% endif %}

          </div>

        {% endfor %}
      </section>
      <!-- resume-section -->


      <!-- Experience -->
      <section class="resume-section">
        <h2 class="heading">Experiências</h2>

        {% for experience in page.experiences %}

          <div class="job-entry">
            <div class="summary">
              <h3 class="meta-info__title">{{ experience.role }}</h3>
              <div class="meta-info__subtitle">{{ experience.company }}</div>

              <div class="meta-info__date">{{ experience.from }} &ndash; {{ experience.to}}</div>
            </div>

            <ul class="activities">
              {% for activity in experience.activities %}
                <li class="item">{{ activity }}</li>
              {% endfor %}
            </ul>
          </div>

        {% endfor %}

      </section>
      <!-- resume-section -->


      <!-- Education -->
      <section class="resume-section">
        <h2 class="heading">Educação</h2>
        <ul class="education-list">

          {% for course in page.courses %}

          <li class="item">
            <div class="summary">
              <h3 class="meta-info__title">
                <a href="{{ course.url }}">
                  {{ course.name }}
                </a>
              </h3>
              <div class="meta-info__subtitle">{{ course.institution }}</div>
              <div class="meta-info__date">{{ course.from }} &ndash; {{ course.to}}</div>
            </div>

            {% if course.certificateUrl %}
              <a href="{{ course.certificateUrl }}" class="meta-info__description">
                Ver certificado
              </a>
            {% endif %}

            <p class="meta-info__description">
              {{ course.description }}
            </p>
          </li>

          {% endfor %}

        </ul>
      </section>
      <!-- resume-section -->

      <section class="resume-section">
        <small>Última atualização: 18/02/2019</small>
      </section>

    </div>
  </main>
