<!DOCTYPE html>
<html lang="pt">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.title %}
    <title>{{ site.title }} | {{ page.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
    <meta name="description" content="{{ site.description }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:300,800" rel="stylesheet">

    <!-- Fontawesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
    <div class="wrapper">
