/* Footer */
/* —————————————————————————————— */

footer {
  padding: 1.5rem 0;
  font-size: .85rem;
  text-align: center;
  opacity: .7;

  margin-top: 2rem;
  border-top: $base-border;

  .legal {
    margin-top: 1rem;
    font-weight: bold;
  }
}
