{% if page.comments %}

<button class="o-btn o-btn--full t6" id="load-comments">Ver comentários</button>
<div id="disqus_thread"></div>

<script>

const loadComments = document.querySelector('#load-comments');

loadComments.addEventListener('click', function() {

  // disqus variables
  var disqus_config = function () {
    this.page.url = '{{ site.baseurl }}{{ page.url }}';
    this.page.identifier = '{{ page.url }}';
  };

  // load disqus
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://pedrobritto-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();

  loadComments.classList.add("fade");
  // remove button after 300ms
  setTimeout( function() {
    loadComments.style.display = "none";

  }, 300);

});

</script>

<noscript>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>

{% endif %}
