<!DOCTYPE html>
<html lang="pt">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.title %}
      <title>{{ site.title }} - {{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    {% if page.descrsocial-shareiption %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Hind:400,700" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{{ site.url }}/assets/img/favicon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="{{ site.url }}/assets/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.url }}/assets/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/assets/img/favicon/apple-touch-icon-144x144.png">

    <!-- OG -->
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{{ site.title }} - {{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ site.url }}/assets/img/og/pedrobritto.png">

  </head>

  <body>
