.o-btn {
  background-color: $c-secondary;

  color: white;
  font-family: $font-body;
  font-size: 1rem;

  padding: 1rem 2rem;
  border-radius: 3px;
  border: 0;
  outline: 0;

  cursor: pointer;

  transition: .2s;

  &:hover {
    opacity: .8;
  }
}

.o-btn--full {
  width: 100%;
}
