@mixin l-container {
  flex: 1;
  max-width: 35em;
  margin: 0 auto;
  padding: 0 1rem;
}

.l-container {
  @include l-container;
}

.l-container--nav {
  @include l-container;
  max-width: 40em;
}

.l-container--hero {
  @include l-container;
  max-width: 37.5em;
}
