/* Layout */
/* —————————————————————————————— */

.l-container {
  max-width: 45rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.l-footer-push {
  $footer-height: 72px;
  min-height: calc(100vh - #{$footer-height});
}

.l-main-content {
  $footer-height: 136px;
  $nav-bar-height: 82px;
  min-height: calc(100vh - #{$footer-height} - #{$nav-bar-height});
  padding-top: 3rem;
  padding-bottom: 3rem;
}
