/* Layout */
/* —————————————————————————————— */

.l-footer-push {
  $footer-height: 178px;
  min-height: calc(100vh - #{$footer-height});
}

.l-main-content {
  $footer-height: 178px;
  $nav-bar-height: 61px;
  min-height: calc(100vh - #{$footer-height} - #{$nav-bar-height});
  padding-top: 3rem;
  padding-bottom: 3rem;
}
