.blog-title {
  margin-bottom: 2rem;
}

.post-summary {
  margin-top: 2rem;
  padding-bottom: 2rem;

  &:last-of-type {
    border-bottom: none;
  }

  .title {
    font-weight: bold;
    // margin-top: 2rem;
  }

  .meta-info {
    font-size: .9rem;
    opacity: .6;
  }
}
