.button {
  display: inline-block;
  font-size: .9rem;
  color: white;
  background-color: $c-primary;
  padding: 1rem 1.2rem;
  border-radius: 3px;
  border: 0;
}

#load-comments {
  display: flex;
  justify-content: center;
  width: 100%;

  font-family: inherit;
  font-size: 1rem;
  margin: 1rem 0;
  transition: .3s;

  &:hover {
    cursor: pointer;
    opacity: .75;
  }

  &.fade {
    opacity: 0;
  }
}


.social-share {
  margin: 1rem 0;
}
