.post-summary {
  padding: 2rem 0;

  &__image {
    height: 160px;
    background-size: cover;
    background-position: center;

    margin-bottom:  1rem;

    box-shadow: inset 0 0 0 1px rgba(black, .1);
    border-radius: 3px;

    transition: .2s;

    @include mappy-bp(small) {
      height: 280px;
    };

    &:hover {
      opacity: .8;
    }
  }

  &__title {
    margin-bottom: 1rem;
    font-size: ms(1);

    @include mappy-bp(small) {
      font-size: ms(2);
    }
  }

  &__meta-info {
    // color: rgba(black,0.6);
    font-style: italic;
  }
}
