.resume-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.resume-section > .heading {
  margin-top: 0;
  margin-bottom: 2rem;
}

/* SECTION: Skills */
/* —————————————————————————————— */


.skill-list {

  h3 {
    margin-top: 2rem;
  }

  .item {
    margin-bottom: .5rem;
  }

  .item.separator {
    font-weight: bold;
    opacity: 0.5;
    margin-top: 1.5rem;
  }
}


/* skill levels */

// .score {
//   color: white;
//   border-radius: 3px;
//   padding: 0.35rem .5rem;
//   float: right;
//
//   font-size: .75rem;
//   font-weight: 400;
//
//   &.lvl-1 {
//     background-color: #4CC2D8;
//
//     &::after {
//       content: "Básico";
//     }
//   }
//
//   &.lvl-2 {
//     background-color: #996cdd;
//
//     &::after {
//       content: "Médio";
//     }
//   }
//
//   &.lvl-3 {
//     background-color: #F95471;
//
//     &::after {
//       content: "Avançado";
//     }
//   }
// }


/* SECTION: Education */
/* —————————————————————————————— */

.education-list {
  list-style-type: none;
  padding-left: 0;

  .item {
    margin-bottom: 2rem;
  }
}


/* SECTION: Experiences */
/* —————————————————————————————— */

.job-entry .summary {
  margin-bottom: 1rem;
}

.job-entry .activities {
  padding-left: 1.5rem;
}

.job-entry .activities .item {
  padding-bottom: .5rem;

  @include mappy-bp(medium) {
    padding-bottom: initial;
  }
}
