.l-footer {
  padding: 2.5rem 0;
}

.l-footer--secondary {
  padding: 1rem 0;
}

.c-footer {
  text-align: center;
  background-color: lighten($c-dark-blue, 10%);
  color: white;
}

.c-footer--secondary {
  @extend .c-footer;
  background-color: $c-dark-blue;
}

.c-footer__item:not(:last-of-type) {
  margin-bottom: 1rem;
}
