.modal-open {
  overflow: hidden;
}

.menu--modal__open {
  @include mappy-bp(small) {
    display: none;
  }
}

.menu-toggle {
  @include mappy-bp(small) {
    display: none;
  };
}


// Other stuff

.c-menu--modal {
  display: block;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;

  visibility: hidden;
  transition: $transition-modal;

  @include mappy-bp(small) {
    display: none;
  }

  .menu--modal-is-open & {
    background-color: rgba(black,.7);
    visibility: visible;
  }
}

.c-menu--modal__content {
  color: white;
  background: $c-secondary;
  font-family: $font-heading;

  width: 250px;
  margin: 0;
  padding: 1rem 1rem 0 2rem;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  transition: $transition-modal;
  transform: translateX(100%);
  box-shadow: 0 0 15px rgba(black,.1);

  @include mappy-bp(small) {
    display: none;
  }

  .menu--modal-is-open & {
    transform: translateX(0%);
  }
}


.o-menu--modal__item {
  color: white;
  display: block;

  font-size: 1.8rem;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-color: transparent;
}

.l-menu--modal__item {
  padding: 0.4rem 0;
}
