.c-menu {
  font-family: $font-body;
  // font-weight: bold;
  line-height: 1;

  display: none;

  @include mappy-bp(small) {
    display: block;
  }
}

.l-menu__item {
  padding: .25rem 0;
  margin-right: 1rem;

  &:last-child {
    margin: 0;
  }
}

.o-menu__item {
  font-size: .8rem;
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-color: transparent;
  opacity: .8;

  &:hover,
  &:active {
    opacity: 1;
  }
}
