.l-nav-bar {
  padding: 1rem 0;
  color: $c-secondary;
  line-height: 1;

  .l-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.c-nav-bar {
  background-color: white;
}

.logo__text {
  line-height: 1;
  font-family: $font-heading;
  text-decoration: none;
}
