.l-nav-bar {
  padding: 1rem 0;
  color: $c-secondary;

  .l-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }
}

.c-nav-bar {
  background-color: white;
}

.logo__text {
  font-family: $font-body;
  font-weight: bold;
  text-decoration: none;
}
