.post {
  margin-top: -3rem;
}

.post__hero {
  height: 300px;

  background-position: center;
  background-size: cover;

  @include mappy-bp(small) {
    height: 400px;
  }

  .hero__overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
  }
}

.post__title {
  font-size: 2rem;

  @include mappy-bp(small) {
    font-size: 2.488rem;
  }

  @include mappy-bp(large) {
    font-size: 3.5rem;
  };
}


.post__content {
  padding: 3rem 0;
}

.post__footer {
  //
}
