.post {
  margin-top: -3rem;
}

.post__hero {
  height: 300px;

  background-position: center;
  background-size: cover;

  @include mappy-bp(small) {
    height: 400px;
  }

  &--gradient {
    background: $c-secondary;
    background: linear-gradient(to left, lighten($c-secondary, 15%), $c-secondary);

  }

  .hero__overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);

    &--gradient {
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      color: white;

      height: 100%;
      width: 100%;
      background-color: transparent;
    }
  }
}

.post__title {
  font-size: ms(1);

  @include mappy-bp(small) {
    font-size: ms(2);
  }

  @include mappy-bp(large) {
    font-size: ms(3);
  };
}

.post__content {
  padding: 3rem 0;

  p:first-of-type {
    font-weight: bold;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  h2 {
    margin-top: 3rem;
  }
}

.post__image {
  text-align: center;
  margin: 2rem 0;
  padding: 0 .5rem;
}

.post__footer {
  //
}
