.c-social-share {
  display: flex;
  margin-bottom: 1rem;

  &__item {
    font-size: 1rem;
    line-height: 1;
    background: $c-secondary;
    padding: 0.4rem 0;
    border-radius: 2px;
    flex: 1;
    line-height: 1;
    text-align: center;
    color: white;
    text-decoration: none;

    transition: $transition-default;

    &:hover {
      opacity: .8;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}


// old styles

.social-facebook {
  background-color: #3e5b98;
}
.social-facebook:before {
  content:'\e041';
}
.social-twitter {
  background-color: #4da7de;
}
.social-twitter:before {
  content:'\e040';
}
