.main-header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: $base-border;

  @media #{$break-header} {
    flex-direction: row;
  }

  .logo {
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 1;

    @media #{$break-header} {
      font-size: 1.7rem;
    }
  }
  
  .logo .text {
    color: inherit;
  }
}

// Navigation -----------------

.main-nav {
  margin: 0 0 1rem;

  @media #{$break-header} {
    margin: 0;
  }

  .item {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .item:not(:last-of-type) {
    margin-right: 1.2rem;
  }
}
