{% include c-head.html %}
  {% include c-nav-bar.html %}


  <main class="l-main-content">
    <div class="l-container">
      <h1 class="page__title">{{ page.title }}</h1>

      {% for post in site.posts %}

      <article class="post-summary">
        <h2 class="post-summary__title t2">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>

        <div class="meta-info__date">{{ post.publishdate }}</div>

        {% if post.excerpt %}
          <p class="meta-info__description">{{ post.excerpt }}</p>
        {% else %}
          <p class="meta-info__description">{{ post.description }}</p>
        {% endif %}

        <a class="button" href="{{ post.url }}">Continuar lendo...</a>
      </article>

      {% endfor %}

    </div>
  </main>


{% include c-footer.html %}
