{% include c-head.html %}

    {% include c-nav-bar.html %}

    <main class="l-main-content">
      <div class="post">
        <header>
          <div class="post__hero"
          style="background-image: url({{ site.url }}/assets/img/posts/{{ page.image}})">
            <div class="hero__overlay">
              <div class="l-container--hero">
                <h1 class="post__title">{{ page.title }}</h1>
                <!-- <p class="post__subtitle">{{ page.subtitle }}</p> -->
              </div>
            </div>
          </div>
        </header>

        <div class="l-container">
          <article class="post__content">
            <div class="meta-info__date s1">{{ page.publishdate }}</div>
            {{ content }}
            {% include c-signature.html %}
          </article>

          <div class="post__footer">
            {% include c-social-share.html %}
            <div></div>
            {% include c-disqus.html %}
          </div>
        </div>
      </div>
    </main>

{% include c-footer.html %}
