// Base Styles and Custom Resets

html {
  box-sizing: border-box;
  font-size: 125%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  color: $c-secondary;
  text-decoration: underline;
  text-decoration-skip: ink;
  transition: $transition-default;
}

a:hover,
a:active {
  opacity: .8;
}


ul {
  padding-left: 1.5rem;
  list-style-type: square;
}

blockquote {
  margin: 1.5rem 0;
  padding-left: .75rem;
  font-style: italic;
  border-left: 3px solid $c-secondary;
}

::selection {
	color: white;
	background-color: $c-secondary;
	text-shadow: none;
}

::-moz-selection {
	color: white;
	background-color: $c-secondary;
	text-shadow: none;
}

code {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  font-size: 1rem;
  margin: 0 .2rem;
  padding: 0.25rem .7rem;
  white-space: nowrap;
}

pre > code {
  white-space: pre;
  display: block;
  padding: 1.0rem 1.5rem;
  margin: 0;
}
