// Colors ------------------------
$c-primary: #54afe9;


// Font Stacks
$font-serif: 'Source Serif Pro', serif;
$font-sans : 'Merriweather Sans', sans-serif;


// Break Points -----------------------
$break-header: '(min-width: 580px)';


// Other -------------------------
$footer-height: 165px;

$base-border: 2px solid rgba($c-primary, 0.1);
