// Colors ------------------------
$c-primary: #54afe9;

$c-font-dark: #323232;


// Font Stacks
$font-heading: 'Source Serif Pro', serif;
$font-sans : 'Lato', sans-serif;


// Break Points -----------------------
$break-header: '(min-width: 580px)';


// Other -------------------------
$footer-height: 165px;

$base-border: 2px solid rgba($c-primary, 0.1);
