/* Typography */
/* —————————————————————————————— */

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  margin: 1rem 0;
  line-height: 1.3;
}
