// Font Stacks
$font-heading : 'Cantata One', sans-serif;
$font-heading : 'Abril Fatface', sans-serif;
$font-body    : 'Hind', serif;


// Typography
body {
  color: rgba(black, .8);
  font-family: $font-body;
  line-height: 1.35;
  hyphens: manual; //needs to insert &shy; in html
}

p {
  font-weight: normal;
  margin: 1.1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: normal;
  font-style: normal;
  line-height: 1.1;

  margin: 0;
  padding: 0;
}

.t0  {
  font-size: ms(4);
}

h1, .t1 {
  font-size: ms(3);
  // @include mappy-bp()
}

h2, .t2 {
  font-size: ms(2);
}

h3, .t3 {
  font-size: ms(1);
}

.s1 { font-size: .9rem; }
.s2 { font-size: .8rem; }
