/* Typography */
/* —————————————————————————————— */

p {
  font-weight: normal;
  font-size: 19px;
  line-height: 1.5;

  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  font-weight: bold;
  font-style: normal;
  line-height: 1.3;

  margin: 1rem 0;
}
